@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("minus.com") {
    /* fixed hseader */
    .primaryheader_wrapper { position: static !important; }
    .gl_header { padding-top: 0px !important; }
    /* remove back to top button */
    .back_to_top, #back_to_top_btn { position: static !important; display: none !important; }
}
