@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("^https?://twitter\.com/.*"){

    /* reposition timestamp */
    .tweet small.time { float: right !important; }
    .tweet .time::before { content: none !important; }

    /* fixed header */
    body { background-position: 0px 0px !important; }
    /* home timeline */
    .topbar { border-bottom-width: 0px !important; }
    body:not(.is-editing) .topbar { margin-bottom: 0px !important; position: static !important; }
    /* remove empty space */
    .AppContent { padding-top: 9px !important; }
    .ProfilePage .AppContent { padding-top: 0px !important; }
    /* user timeline */
    .ProfileCanopy-inner { position: static !important; }
    /* stop header from suddenly disappearing */
    .ProfileCanopy-header { margin-top: 0px !important; }
    /* search */
    .SearchNavigation { position: static !important; }

    /* adblock */
    .promoted-tweet { display: none; }

    /* don't display signup dialog when not logged in */
    #signup-dialog, .modal-overlay { display: none !important; }
    .modal-enabled, .modal-enabled.overlay-enabled { overflow: auto !important; position: inherit !important; }

    /* don't display cookie warning */
    .BannersContainer { display: none; }

    /* don't display images cropped */
    .gallery-media>img { width: auto !important; }
    .GalleryNav--prev, .GalleryNav--next { width: 0%; }
    .media-forward,.TwitterPhoto-media { max-height: none !important; }
    .media-forward img,.TwitterPhoto-media img { margin-top: 0 !important; }

    /* allow a smaller screen without horizontal scrolling */
    @media screen and (max-width: 950px) {
        /* hide side menus */
        .dashboard, .ProfileSidebar, .ProfileCanopy-avatar { display: none; }
        #timeline { float: none; margin: auto; }
        .u-size1of3, .u-size2of6, .u-size4of12 { width: 0px !important; }

        /* center page, fix widths */
        body.ProfilePage { min-width: 590px !important; }
        .ProfileTimeline { width: 590px; }
        /* home timeline */
        .AppContent { max-width: 100% !important; padding: 9px 0 0 0 !important; }
        /* user timeline */
        .Grid { text-align: center; margin: 0px !important; }
        .AppContainer .u-size2of3 { width: 90% !important; text-align: center; }
        .ProfileNav-list { text-align: left; }
        .ProfileHeading, .GridTimeline { max-width: 592px; margin: auto; }
        .ProfileCanopy-headerBg img { min-width: 842px; }
    }

}
