@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("youtube.com") {

    /* fixed header */
    #content app-header { position: static !important; }
    #content ytd-page-manager.ytd-app { margin-top: 0px !important; }
    #masthead-positioner, #masthead-container { position: static !important; }
    #page-manager.ytd-app { margin-top: 0px; }

    /* hide alerts */
    #ticker, #opt-out-dialog, .alerts-wrapper { display: none; }
    .cookie-alert, .yt-consent-banner { display: none !important; }

    /* hide comments */
    #comments { display: none; }
    #watch-discussion { display: none; }

}
